html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    /*color: floralwhite !important;*/
}

body > div.column > md-content {
    color: #5d5d5d;
}

md-toolbar h1 {
    color: floralwhite;
}

.jcenter {
    text-align: center;
}

.jfooter {
    display: block;
    background-color: #434343;
    vertical-align: middle;
}

.jfooter h1{
    vertical-align: middle;
}

.jfooter a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: whitesmoke;
}

.jfooter:before {
    content: '';
    display: table;
    clear: both;
}

md-toolbar .jblack{
    color: #5d5d5d !important;
}

md-toolbar h1 {
    font-size: 2.2em;
    font-weight: 300;
    margin: auto;
}

md-toolbar .md-toolbar-tools h1 {
    font-size: 1.6em;
    font-weight: 300;
}

md-list .md-button {
    font-weight: 500;
    text-align: left;
    width: 100%;
    color: #1c1c1c;
}

md-list .md-button.selected {
    color: #01f458;
}

md-sidenav md-list {
    padding-bottom: 12px;
}

.jblack {
    color: #5d5d5d !important;
}

.avatar {
    width: 128px;
    height: 128px;
    position: relative;
    border: 2px solid indianred;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: 0.7;
    transform: translateZ(0) scale(0.8);
}

.scrollable-nav-content {
    position: absolute;
    top: 136px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
}

#content {
    padding: 6px 42px;
}

