<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button hide-gt-lg class="md-icon-button" ng-click="toggleSideNav()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>
            <span>Toolbar with Icon Buttons</span>
        </h1>
        <md-fab-speed-dial
                md-direction="down"
                class="md-fling md-fab-top-right">
            <md-fab-trigger>
                <md-button class="md-fab">
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button class="md-fab md-raised md-mini"
                           ng-click="showContactOptions($event)">
                    <ng-md-icon icon="face" class="jblack"></ng-md-icon>
                    <md-tooltip md-direction="left">Contact this user</md-tooltip>
                </md-button>
                <md-button class="md-fab md-raised md-mini">
                    <ng-md-icon icon="mail" class="jblack"></ng-md-icon>
                    <md-tooltip md-direction="left">Email this user</md-tooltip>
                </md-button>
                <md-button class="md-fab md-raised md-mini"
                           ng-click="clearNotes($event)">
                    <ng-md-icon icon="clear_all"></ng-md-icon>
                    <md-tooltip md-direction="left">Clear All the notes</md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</md-toolbar>