<!-- services -->
<section id="services" class="services padding gray-bg" data-stellar-background-ratio="0.3">
    <div class="container-fluid">

        <header class="heading_1 text-center">
            <i class="icon icon-tools"></i>
            <h2 class="main_title">
                Use jMeetup to:
            </h2>
        </header>


        <div class="row">
            <!-- Left -->
            <div class="col-md-4 service-category col-sm-6">
                <div class="main-service">
                    <h4>Create Events</h4>
                    <i class="fa fa-check-square fa-4x"></i>
                    <div class="sub-services">
                        <h4>Create Your Events</h4>
                        <ul>
                            <li><a href="">Name your event.</a></li>
                            <li><a href="">Search for a host location.</a></li>
                            <li><a href="">Set the capacity, start&end times, & description</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Middle -->
            <div class="col-md-4 service-category col-sm-6">
                <div class="main-service">
                    <h4>Find Events</h4>
                    <i class="fa fa-hand-paper-o fa-4x"></i>
                    <div class="sub-services">
                        <h4>Search For Events</h4>
                        <ul>
                            <li><a href="#">Find events that interest you.</a></li>
                            <li><a href="#">Register for the event.</a></li>
                            <li><a href="#">See who else is going.</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Right -->
            <div class="col-md-4 service-category col-sm-6">
                <div class="main-service">
                    <h4>Group Events</h4>
                    <i class="fa fa-cab fa-4x"></i>
                    <div class="sub-services">
                        <h4>Join a Group</h4>
                        <ul>
                            <li><a href="#">Find a group w/ like interests</a></li>
                            <li><a href="#">Support the community</a></li>
                            <li><a href="#">Try to regularly attend these group events</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- services end -->