<div layout="row">
    <div flex style="background-color: forestgreen;">first item in row</div>
    <div flex style="background-color: dimgrey;">Second item in row</div>
    <div flex style="background-color: rebeccapurple;">3rd item in row</div>
</div>

<div layout="column">
    <div flex style="background-color: forestgreen;">first item in column</div>
    <div flex style="background-color: dimgrey;">Second item in column</div>
    <div flex style="background-color: rebeccapurple;">3rd item in column</div>
</div>

<hr>

<div layout="row">
    <div layout="row">
        <div flex style="background-color: forestgreen;">first item in row</div>
        <div flex style="background-color: dimgrey;">Second item in row</div>
        <div flex style="background-color: rebeccapurple;">3rd item in row</div>
    </div>

    <div layout="column">
        <div flex style="background-color: forestgreen;">first item in column</div>
        <div flex style="background-color: dimgrey;">Second item in column</div>
        <div flex style="background-color: rebeccapurple;">3rd item in column</div>
    </div>
</div>

<hr>

<div layout="row">
    <div layout="row" flex="33">
        <div flex style="background-color: forestgreen;">first item in row</div>
        <div flex style="background-color: dimgrey;">Second item in row</div>
        <div flex style="background-color: rebeccapurple;">3rd item in row</div>
    </div>

    <div layout="column" flex>
        <div flex style="background-color: forestgreen;">first item in column</div>
        <div flex style="background-color: dimgrey;">Second item in column</div>
        <div flex style="background-color: rebeccapurple;">3rd item in column</div>
    </div>
</div>

<hr>

<div layout="row" layout-xs="column">
    <div layout="row">
        <div flex style="background-color: forestgreen;">first item in row</div>
        <div flex style="background-color: dimgrey;">Second item in row</div>
        <div flex style="background-color: rebeccapurple;">3rd item in row</div>
    </div>

    <div layout="column" flex>
        <div flex style="background-color: forestgreen;">first item in column</div>
        <div flex style="background-color: dimgrey;">Second item in column</div>
        <div flex style="background-color: rebeccapurple;">3rd item in column</div>
    </div>
</div>